.App {
}

.header{
  background-color: #0fd651;
  color: #0000ff;
  padding: 10px 0px 10px 0px;
}

.header .row{
  align-items: center;
}

.header #logo{
  width: 150px;
  height: auto;
}

.header .nav a{
  color: #ffffff;
}



.header .user-login{
  color: #ffffff;
  width: 40px;
}



.menu-vertical .nav-link{
  margin-top: 2px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
